Currency_Price.json
{
  "name": "Currency_Price",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        384
      ],
      "id": "c86bf0d8-9c9b-43c8-bd9f-fe84a9afbc63",
      "name": "Telegram Trigger",
      "webhookId": "d5a5ffed-5a1d-49c6-882b-987a16b40e21",
      "credentials": {
        "telegramApi": {
          "id": "P1dgYdvrS2o24O9N",
          "name": "Currency_price"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e5b55008-a4c4-4103-995b-ae96b12ab551"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "52c07107-2e38-41f0-96da-8a67003d6975",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -512,
        384
      ],
      "id": "cca44951-4625-48ea-8388-dc201d1201aa",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "=BitCoin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "69838775-7f99-4317-979a-3b1d2ce3a0d6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BitCoin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bcaf06f9-1739-4819-8ad9-a3b07657b801",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "ETH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ETH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "751f2ef7-b590-4fb3-aefc-c1c9b0ea1364",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "SOL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SOL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a009942b-b699-4451-b45f-2d0e205b31e8",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Tether",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tether"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f2efa606-9b06-4359-8ea1-dbe3ae3480a7",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "DOGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOGE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        496
      ],
      "id": "cd6c25c2-772d-4f27-978c-5d8d384ee173",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "برای دانستن قیمت لحظه ارز مورد نظر، اسم آن را تایپ کنید:\nBitCoin\nETH\nSOL\nTether\nDOGE",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8c0fa1ab-c0cb-4b75-b61a-d90f59178e0f",
      "name": "Send a text message1",
      "webhookId": "fa87a09d-f171-4825-9f18-5e0fb722ef96",
      "credentials": {
        "telegramApi": {
          "id": "P1dgYdvrS2o24O9N",
          "name": "Currency_price"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e48bdac-e2d8-4395-94f9-f965b581b98a",
              "name": "coin",
              "value": "bitcoin",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        320
      ],
      "id": "5cff8b0e-a4b1-4d6a-ab01-4ee00e9d6f81",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e48bdac-e2d8-4395-94f9-f965b581b98a",
              "name": "coin",
              "value": "ethereum",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        464
      ],
      "id": "a560c666-8cec-413a-9110-2cff95efc5a7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e48bdac-e2d8-4395-94f9-f965b581b98a",
              "name": "coin",
              "value": "solana",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        608
      ],
      "id": "cdb0b5b2-4181-4f8d-a146-89392c713671",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://api.coingecko.com/api/v3/simple/price?vs_currencies=usd&ids={{ $json.coin }}&x_cg_demo_api_key=CG-uqc5vL8Hqvoaq4FLboLJ4Jx5",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        576
      ],
      "id": "06c4f057-c5bc-4e8e-933e-7d78a629c1ea",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=قیمت در این لحظه: {{ $now }} \n\n{{ $json.bitcoin.usd }}{{ $json.ethereum.usd }}{{ $json.solana.usd }}{{ $json.dogecoin.usd }}{{ $json.tether.usd }}$",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        480
      ],
      "id": "c60bbf2b-2427-48fe-a1cc-272f797c47d1",
      "name": "Send a text message2",
      "webhookId": "13515635-2046-4abc-9c09-2d65cc172644",
      "credentials": {
        "telegramApi": {
          "id": "P1dgYdvrS2o24O9N",
          "name": "Currency_price"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e48bdac-e2d8-4395-94f9-f965b581b98a",
              "name": "coin",
              "value": "dogecoin",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        928
      ],
      "id": "e5f537c7-a3b5-453f-9ed5-38f37e1c0e17",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e48bdac-e2d8-4395-94f9-f965b581b98a",
              "name": "coin",
              "value": "tether",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        768
      ],
      "id": "a05ad003-f936-4db1-b12b-7a7626d8f3d1",
      "name": "Edit Fields4"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0b894c21-a325-499f-a8aa-3b2897a2fd1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcdb15ef08ea53913b97983d05b8999b3799e508761b41e5475154b7f7280645"
  },
  "id": "MLL4obHCyORJrLBz",
  "tags": []
}